body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  /*width: 500px; で、幅を 500px に設定しています
margin-right: auto; で、右側のマージンを自動調節にしています
margin-left: auto; で、左側のマージンを自動調節にしています*/

button {
    /*padding 内側の余白 margin 外側の余白*/
    padding: 5px 20px;
    background-color: #337ab7;
    color: #fdffff;
    border-style: none;
  }



input {
    height: 20px;
}
